{% extends 'base.html.twig' %}

{% block title %}Liste des derniers messages{% endblock %}

{% block body %}
    <h1>Liste des derniers messages</h1>

    {# <a href="{{ path('app_post_new') }}">Créer un nouveau post</a> #}

    {% for post in posts %}
        <div class="post">
            <p class="action-link">{{ post.content }}</p>
            <p class="action-link">Posté par {{ post.user.username }} le {{ post.createdAt|date('d/m/Y H:i') }}</p>
            <a href="{{ path('app_post_show', {'id': post.id}) }}" class="action-link">Voir</a>
            <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="action-link">Éditer</a>
        
        </div>
    {% else %}
        <p>Aucun post trouvé.</p>
    {% endfor %}
{% endblock %}