{% extends 'base.html.twig' %}

{% block title %}Éditer le Profil{% endblock %}

{% block body %}
    <h1>Éditer le Profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.bio) }}

        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-secondary">Retour au profil</a>
{% endblock %}