{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>

    <a href="{{ path('app_topic_new', {'categoryId': category.id}) }}" class="btn btn-primary">Nouveau sujet</a>

    {% for topic in category.topics %}
        <div class="topic">
            <h2>
                <a href="{{ path('app_topic_show', {'id': topic.id}) }}">
                    {{ topic.title }}
                </a>
            </h2>
            <small>
                Créé par {{ topic.author.username }} le {{ topic.createdAt|date('d/m/Y H:i') }}
                | {{ topic.posts|length }} réponses
            </small>
        </div>
    {% else %}
        <p>Aucun sujet n'a été créé dans cette catégorie pour le moment.</p>
    {% endfor %}
{% endblock %}