{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<div class="forum-container">
    <h1 class="forum-title">Forum</h1>
    
    {% for category in categories %}
    <div class="forum-category">
        <h2 class="category-title">
            <a href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.name }}</a>
        </h2>
        <p class="category-description">{{ category.description }}</p>
        <div class="category-stats">
            {% set topicCount = category.topics|length %}
            {% set postCount = 0 %}
            {% for topic in category.topics %}
                {% set postCount = postCount + topic.posts|length %}
            {% endfor %}
            {{ topicCount }} sujet{% if topicCount > 1 %}s{% endif %} | 
            {{ postCount }} message{% if postCount > 1 %}s{% endif %}
        </div>
        {% if topicCount > 0 %}
            {% set latestTopic = category.topics|sort((a, b) => b.createdAt <=> a.createdAt)|first %}
            <div class="latest-post">
                Dernier sujet : <a href="{{ path('app_topic_show', {'id': latestTopic.id}) }}">{{ latestTopic.title }}</a><br>
                par {{ latestTopic.author.username }} le {{ latestTopic.createdAt|date('d/m/Y H:i') }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}